.container {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.containerProductList {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .containerProductList {
        margin: 40px auto;
        width: 95%;
        gap: 6vw;
    }
}